<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0" >
</head>
<body>
  <h1 class="title">Todo Doing Done</h1>
  <h2>管理者画面</h2>
  <%= link_to "プロジェクト管理", :controller => "admins", :action => "projects" %><br>
  <div>プロジェクト管理出来ます。</div>
  <%= link_to "利用者管理", :controller => "admins", :action => "users" %><br>
  <div>利用者を管理出来ます。</div>
</body>
</html>
