<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0" >
  <!-- <meta name="theme-color" content=#bf0000 > -->
  <title>管理者画面</title>
  <!-- <script type="text/javascript" src="script.js" ></script>
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" > -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet"> -->
</head>

<body>
  <header>
    <div class="title"><h1>管理者用ページ</h1></div>
  </header>
  <h2>プロジェクト管理</h2>
  <div>
    プロジェクト管理を表示させたい
  </div>
  <h2>利用者管理</h2>
  <div>
    利用者を管理
  </div>
</body>
</html>
