<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0" >
</head>
<body>
<h1 class="title">Todo Doing Done</h1>
<h2>プロジェクト管理画面</h2>
<% @projects.each do |project| %>
    <li><%= link_to project.title%></li>
<% end %>
</body>
</html>
