<!DOCTYPE html>
<html>
<head>
  <title>TDD</title>
  <meta charset="utf-8">
</head>
<body>
  <div class="title">
    <h1>Todo Doing Done</h1>
  </div>
  <h2>タスク</h2>
  <form action="">
    <p>
      <input type="submit" value="タスク追加"><input type="submit"value="タスク編集"> <input type="submit" value="タスク削除">
    </p>
  </form>

  <nav>
    <ul>
      <% @tasks.each do |task| %>
      <li><%= task.title %></li>
      <% end %>
      <!--<li><input type="checkbox" name="" value=""> <a href="">応用実験課題</a></li>-->
      <!--<li><input type="checkbox" name="" value=""> <a href="">英語課題</a></li>-->
      <!--<li><input type="checkbox" name="" value=""> <a href="">英語テスト！</a></li>-->
    </ul>
  </nav>
</body>
</html>
