<!DOCTYPE html>
<html>
<head>
  <title>TDD</title>
  <meta charset="utf-8">
</head>
<body>
<div class="index">
  <h1>Task Ding Dong</h1>
  <form action="">
    <p>
      username：<input type="text" name="id" size="40">
    </p>
    <p>
      passward：<input type="text" name="pw" size="40">
    </p>
    <p>
      <%= link_to "ログイン", :controller => "projects", :action => "index" %>
      <input type="submit" value="パスワードを忘れた方はこちら">
    </p>
  </form>
</div>
</body>
</html>