<!DOCTYPE html>
<html>
<head>
  <title>TDD</title>
  <meta charset="utf-8">
</head>
<body>
  <div class="title">
    <h1>Todo Doing Done</h1>
  </div>
  <h2>プロジェクト一覧</h2>
  <form action="">
    <p>
      <input type="submit" value="新規プロジェクト"><input type="submit" value="削除">
    </p>
  </form>

<nav>
  <ul>
    <% @projects.each do |project| %>
        <li><%= link_to project.title, projects_path(project.id)%></li>
    <% end %>
  <li><input type="checkbox" name="" value=""> <a href="/projects/tasks">プロジェクト1</a></li>
  </ul>
</nav>
</body>
</html>
