<!DOCTYPE html>
<html>
<head>
  <title>TDD</title>
  <meta charset="utf-8">
</head>
<body>
<div class="title">
  <h1>Todo Doing Done</h1>
</div>
<h2>プロジェクト一覧</h2>
<form action="">
  <p>
    <input type="submit" value="新規プロジェクト"><input type="submit"
                                                  value="テンプレートから作成"> <input type="submit" value="インポート"><input
  type="submit" value="zipでダウンロード"> <input type="submit"
                                           value="削除">
  </p>
</form>

<nav>
  <ul>
    <% @projects.each do |project| %>
        <li><%= project.title %></li>
    <% end %>
    <li><input type="checkbox" name="" value=""> <a href="./tasks">プロジェクト1</a></li>
    <!--<li><input type="checkbox" name="" value=""> <a href="">プロジェクト2</a></li>-->
    <!--<li><input type="checkbox" name="" value=""> <a href="">プロジェクト3</a></li>-->
    <!--<li><input type="checkbox" name="" value=""> <a href="">授業課題</a></li>-->
    <!--<li><input type="checkbox" name="" value=""> <a href="">パーソナルタスク1</a></li>-->
  </ul>
</nav>
</body>
</html>
